<h3>{{title}}</h3>
<form method="POST">
    <div>
        <label style="display: block;">Full name</label>
        <input type="text" name="fullname">
    </div>

    <div style="margin-top: 1em;">
        <label style="display: block;">Email</label>
        <input type="text" name="email">
    </div>

     <div style="margin-top: 1em;">
        <button>Register</button>
    </div>
</form>

<script src="https://unpkg.com/axios@0.25.0/dist/axios.min.js"></script>
<script>
    document.querySelector("form").addEventListener("submit", async function(event){
        event.preventDefault();

        const userInfo = {
            fullname: this.fullname.value.trim(),
            email: this.email.value.trim()
        }
        
        const feedback = await axios.post("http://localhost:3000/register-user", userInfo)

        console.log(feedback)


    })
</script>